<h3>Recuperar la contraseña de mi cuenta</h3>
<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado recuperar la contraseña de tu cuenta en Chubut Clasificados. Para crear una nueva contraseña hace click en el siguiente link:</p>

<p><%= link_to 'Cambiar la contraseña de mi cuenta', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no solicitaste ningún recupero de contraseña, por favor ignorá este mail.</p>
