<%= semantic_form_for :search, :url => search_path(:event => "search_by_textfield") do |f| %>
  <%= f.inputs do %>
    <%= f.input :words, :placeholder => "Piano, Departamento, Auto...", :label => false %>
  <% end %>
  <button type="submit" class="btn btn-primary search-submit">Buscar</button>
<% end %>
