<div class="alert-info welcome">
  ¡Bienvenido a <b>Chubut Clasificados!</b> Éstos son recién nuestros primeros días promoviendo el intercambio provincial. Publicá tu clasificado <b>GRATIS</b>. Pronto encontrarás lo que estas buscando. 
</div>

