$(".one-step.second").html("<p><%= @sub_category.info[:category_name] %> > <%= @sub_category.info[:name] %></p>");
$(".one-step.last").addClass("current-step");
$(".one-step.second").removeClass("current-step");
$(".one-step.second").addClass("previous-step");
$(".new-publication .container").html("<%= escape_javascript(render 'details.html.erb') %>");
$('.description_area').wysihtml5({
  "font-styles": false,
  "link": false,
  "image": false
});
  
$('.back-to-category').click(function(){
  var city_id = $('#publication_city_id').val();
  $(".one-step.last").removeClass("current-step");
  $.post("/publications/new/to-categories", {city_id:city_id, back:true} );
  $("html, body").animate({ scrollTop: 0 }, "fast");
  $(".one-step.second").html("<h3>2. Seleccioná la categoría</h3>")
  return false;
});