$(".one-step.second").html("<p><%= @sub_category.info[:category_name] %> > <%= @sub_category.info[:name] %></p>");
$(".one-step.last").addClass("current-step");
$(".one-step.second").removeClass("current-step");
$(".one-step.second").addClass("previous-step");
$(".new-publication .container").html("<%= escape_javascript(render 'details.html.erb') %>");

$('.back-to-category').click(function(){
  var city_id = $('#publication_city_id').val();
  $(".one-step.last").removeClass("current-step");
  $.post("/publications/new/to-categories", {city_id:city_id, back:true} );
  $("html, body").animate({ scrollTop: 0 }, "fast");
  $(".one-step.second").html("<h3>2. Seleccioná la categoría</h3>")
  return false;
});




/////////////////////////////////////
/////////////////////////////////////
// START FORM VALIDATIONS - THIS IS THE SAME CODE FOUND IN validations.js //
/////////////////////////////////////
/////////////////////////////////////

  $('.description_area').wysihtml5({
    "font-styles": false,
    "link": false,
    "image": false,
    "events": { "blur": function() { 
        if(editor.getValue() == ""){
          wrong_description();
        }else{
          ok_description();
        }
      } 
    }
  });


  if ($(".title-input-field").val() == ""){ //sometimes there is an email set in the input
    var ok_title_field = false;
  }else{
    var ok_title_field = true;
  }

  if ($(".price-input-field").val() == ""){ //sometimes there is an email set in the input
    var ok_price_field = false;
  }else{
    var ok_price_field = true;
  }

  var ok_sub_subcategory_field = true;

  if ($(".complete-manual-brand.ever").length){
    var ok_brand_field = false; 
  }else{
    var ok_brand_field = true; // it changes automatically the value when change the option.
  }

  if ($(".model-input-field").val() == ""){ //sometimes there is an email set in the input
    var ok_model_field = false;
  }else{
    var ok_model_field = true;
  }

  if (editor.getValue() == ""){ //sometimes there is an email set in the input
    var ok_description_field = false;
  }else{
    var ok_description_field = true;
  }

  
  if ($(".email-input-field").val() == ""){ //sometimes there is an email set in the input
    var ok_email_field = false;
  }else{
    var ok_email_field = true;
  }
  //HACER CONDITION if else

  if($('.condition-input-field').is(':checked')) {
    var ok_condition_field = true;
  }else{
    var ok_condition_field = false;
  }

  /////////////// ////////////////// //////////////////
  /////////////// FOCUSOUT FUNCTIONS //////////////////
  /////////////// ////////////////// //////////////////

  $(".title-input-field").focusout(function(){
    if ($(".title-input-field").val() == ""){
      wrong_title();
    }else{
      ok_title();
    }
  });

  $(".price-input-field").focusout(function(){
    if ($(".price-input-field").val() == ""){
      wrong_price();
    }else{ // campo de precio lleno
      ok_price();
    }
  });

  $(".model-input-field").focusout(function(){
    if ($(".model-input-field").val() == ""){
      wrong_model();
    }else{
      ok_model();
    }
  });  

  // ONLY EXECUTED FOR EDIT PUBLICATION
  // If has manual brand set, display the manual brand and set selectbox in Otras Marcas
  if ($(".complete-manual-brand").val() != ""){
    $(".brand-input-field option:selected").html("Otras Marcas");
    $(".complete-manual-brand").show();
  }

  if ($(".complete-manual-sub-subcategory").val() != ""){
    $(".sub-subcategory-input-field option:selected").html("Otra categoría");
    $(".complete-manual-sub-subcategory").show();
  }
  

  $(".sub-subcategory-input-field").change(function(){
    var value = $(".sub-subcategory-input-field option:selected").html();
    if (value == "Otra categoría"){
      ok_sub_subcategory_field = false;
      $(".complete-manual-sub-subcategory").show();
    }else{
      ok_sub_subcategory_field = true;
      $(".complete-manual-sub-subcategory").hide();
      $(".complete-manual-sub-subcategory").val("");
      $(".sub-subcategory-row").removeClass("required-field");
      $(".ok-field-sub-subcategory").show();
      $(".wrong-field-sub-subcategory").hide();
    }

  });

  $(".complete-manual-sub-subcategory").focusout(function(){
    if ($(".complete-manual-sub-subcategory").val() == ""){
      wrong_sub_subcategory();
    }else{
      ok_sub_subcategory();
    }
  });   

  $(".brand-input-field").change(function(){
    var value = $(".brand-input-field option:selected").html();
    if (value == "Otras Marcas"){
      ok_brand_field = false;
      $(".complete-manual-brand").show();
    }else{
      ok_brand_field = true;
      $(".complete-manual-brand").hide();
      $(".complete-manual-brand").val("");
      $(".brand-row").removeClass("required-field");
      $(".ok-field-brand").show();
      $(".wrong-field-brand").hide();
    }

  });  

  $(".complete-manual-brand").focusout(function(){
    if ($(".complete-manual-brand").val() == ""){
      wrong_brand();
    }else{
      ok_brand();
    }
  });  

  


  $(".email-input-field").focusout(function(){
    var value = $(".email-input-field").val();
    if (value == ""){
      wrong_email();
    }else if (!isValidEmailAddress(value)){
      wrong_email_format();
    }else{
      ok_email();
    }
  });  

  $(".condition-input-field").click(function(){
    ok_condition();
  });



$(".submit-form").click(function(){
  var count = 0;
  if (ok_title_field == false){
    wrong_title();
  }else{
    ok_title();
    count++;
  }
  if (ok_price_field == false){
    wrong_price();
  }else{
    ok_price();
    count++;
  }

  if (ok_brand_field == false){
    wrong_brand();
  }else{
    ok_brand();
    count++;
  }

  if (ok_sub_subcategory_field == false){
    wrong_sub_subcategory();
  }else{
    ok_sub_subcategory();
    count++;
  }

  if (ok_model_field == false){
    wrong_model();
  }else{
    ok_model();
    count++;
  }

  if (ok_description_field == false){
    wrong_description();
  }else{
    ok_description();
    count++;
  }
  if (ok_email_field == false){
    var value = $(".email-input-field").val();
    if (value == ""){
      wrong_email();
    }else if (!isValidEmailAddress(value)){
      wrong_email_format();
    }
  }else{
    ok_email();
    count++;
  }
  if (ok_condition_field == false){
    wrong_condition();
  }else{
    ok_condition();
    count++;
  }

  if (count == 8){ // the eigth validations are ok
    $(".not-all-fields-completed").hide();
    $("form").submit();
  }else{
    $(".not-all-fields-completed").show();
    return false;
  }
});

function isValidEmailAddress(email) {
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    return pattern.test(email);
};

function wrong_title(){
  ok_title_field = false;
  $(".title-row").addClass("required-field");
  $(".ok-field-title").hide();
  $(".wrong-field-title").show();
}

function ok_title(){
  ok_title_field = true;
  $(".title-row").removeClass("required-field");
  $(".ok-field-title").show();
  $(".wrong-field-title").hide();
}

function wrong_price(){
  ok_price_field = false;
  $(".price-and-currency").addClass("required-field");
  $(".ok-field-price-currency").hide();
  $(".wrong-field-price-currency").show();
}

function ok_price(){
  ok_price_field = true;
  $(".price-and-currency").removeClass("required-field");
  $(".ok-field-price-currency").show();
  $(".wrong-field-price-currency").hide();
}

function wrong_sub_subcategory(){
  ok_sub_subcategory_field = false;
  $(".sub-subcategory-row").addClass("required-field");
  $(".ok-field-sub-subcategory").hide();
  $(".wrong-field-sub-subcategory").show();
}

function ok_sub_subcategory(){
  ok_sub_subcategory_field = true;
  $(".sub-subcategory-row").removeClass("required-field");
  $(".ok-field-sub-subcategory").show();
  $(".wrong-field-sub-subcategory").hide();
}

function wrong_brand(){
  ok_brand_field = false;
  $(".brand-row").addClass("required-field");
  $(".ok-field-brand").hide();
  $(".wrong-field-brand").show();
}

function ok_brand(){
  ok_brand_field = true;
  $(".brand-row").removeClass("required-field");
  $(".ok-field-brand").show();
  $(".wrong-field-brand").hide();

}

function wrong_model(){
  ok_model_field = false;
  $(".model-row").addClass("required-field");
  $(".ok-field-model").hide();
  $(".wrong-field-model").show();
}

function ok_model(){
  ok_model_field = true;
  $(".model-row").removeClass("required-field");
  $(".ok-field-model").show();
  $(".wrong-field-model").hide();
}


function wrong_description(){
  ok_description_field = false;
  $("#publication_description_input").addClass("border-rich"); 
  $(".description-rich").addClass("required-field"); 
  $(".ok-field-description").hide();
  $(".wrong-field-description").show();
}

function ok_description(){
  ok_description_field = true;
  $("#publication_description_input").removeClass("border-rich");
  $(".description-rich").removeClass("required-field");
  $(".ok-field-description").show();
  $(".wrong-field-description").hide();
}

function wrong_email(){
  ok_email_field = false;
  $(".email-row").addClass("required-field");
  $(".ok-field-email").hide();
  $(".wrong-field-email").show();
}

function wrong_email_format(){
  ok_email_field = false;
  $(".email-row").addClass("required-field");
  $(".ok-field-email").hide();
  $(".wrong-field-email-format").show();
}

function ok_email(){
  ok_email_field = true;
  $(".email-row").removeClass("required-field");
  $(".ok-field-email").show();
  $(".wrong-field-email").hide();
  $(".wrong-field-email-format").hide();
}

function wrong_condition(){
  ok_condition_field = false;
  $(".condition-row").addClass("required-field");
  $(".wrong-field-condition").show();
}

function ok_condition(){
  ok_condition_field = true;
  $(".ok-field-condition").show();
  $(".condition-row").removeClass("required-field");
  $(".wrong-field-condition").hide();
}




/////////////////////////////////////
/////////////////////////////////////
// FINISH VALIDATIONS //
/////////////////////////////////////
/////////////////////////////////////





// $("#publication_price").keypress(function(event) {
//   //http://www.elcodigoascii.com.ar/
//   if ( event.which == 44 ) {
//      return false;
//    }
// });

// $("#publication_price").keydown(function(event) {
//     // Allow: COMA, backspace, delete, tab, escape, and enter
//     if ( event.keyCode == 188 || event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
//          // Allow: Ctrl+A
//         (event.keyCode == 65 && event.ctrlKey === true) || 
//          // Allow: home, end, left, right
//         (event.keyCode >= 35 && event.keyCode <= 39)) {
//              // let it happen, don't do anything
//              return;
//     }
//     else {
//         // Ensure that it is a number and stop the keypress
//         if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
//             event.preventDefault(); 
//         }   
//     }
// });