<% @categories.each do |category|%>
  <div class="one-category">

    <div class="left">
      <h2 class="<%=category.key%>">
        <small>
          <%= category.info[:name] %>
        </small>
      </h2>
    </div>

    <div class="right hero-unit">

        <div class="subcategories-index">
          <% category.info[:sub_categories].each do |sub_category| %>
            <p><%= link_to sub_category.name, search_path(:event => "search_by_subcategory", :id => sub_category.id, :index=>true) %></p>
          <% end %>
        </div>

    </div>


  </div>
<% end %>