<!-- http://bcardarella.com/post/4211204716/client-side-validations-3-0 -->




<%= content_for :left_column do %>

  <% if @last_publications.any? %> 
    <%= render :partial => 'shared/last_publications_left', :locals => { :last_publications => @last_publications} %> 
  <% end %>

  <div class="how-to-publicate">
    <ul>
      <li><p>¿Cómo publicar un clasificado?</p></li>
      <li>1. Registrate</li>
      <li>2. Registrate</li>
    </ul>
  </div>

  <div class="how-to-buy">
    <ul>
      <li><p>¿Cómo Comprar?</p></li>
      <li>1. Utilizá nuestra barra de búsqueda</li>
      <li>2. Elegí el que más te gusta</li>
    </ul>    
  </div>

<% end %>



<div class="cities well">
  <%= render :partial => "cities" %>
</div>

<div class="categories">
  <%= render :partial => "categories" %>
</div>
