@mixin form_inputs{
  
}

@mixin borders-show-one-publication{
  border: 1px solid #E5E3E3;
}

@mixin border-btm-show-one-publication{
  border: 1px solid #E5E3E3; 
}

@mixin border-right-show-one-publication{
  border: 1px solid #E5E3E3; 
}