// Place all the styles related to the publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "mixins";

.content{
  .show-publications{
    .divider {border-top: 1px solid #9A9A9A;}
    .one-result{
      overflow: hidden;
      padding: 1%;
      .image {float: left; width: 30%;}
      .details{
        float: left; margin-left: 2%; margin-top: 1%; width: 50%;
        .title{font-size: 20px; font-weight: bold; margin-bottom: 2%;}
        .description{
          margin-bottom: 2%;
          a{color:black;}
          a:hover{text-decoration: none;}
        }
        .elapsed-time{color: grey;}
          
      }
      .price-column{
        float: right; margin-top: 4%; text-align: right; width: 18%;
        .price{font-size: 23px; color: #3E78FD; margin-bottom: 4%;}
      }
    }
    .pagination{text-align: center;}
  }

  .my-publications{
    height: 300px;
    clear: both;
    p {font-weight: bold; text-align: center;}
    caption{
      margin-left: 10%;
      text-align: left;
      span{font-style: italic;}
      span.green{color: green; text-decoration: underline;}
      span.red{color: red; text-decoration: underline;}
    }
    tbody{
      td.title{width: 66%;}
    }
  }


}
.flash-message-sold{ display: none; }
.flash-message-sold.alert{width: 94%; }

.content.new-publication, .edit-publication{
  margin-top: 3%;
  #publication_sub_category_id_input{display: none;}
  .container{margin-bottom: 6%;}
  .select_city, .select_category, .put_details{ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 65%;
  }
  .accordion-sub-categories{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 79%;
  }

  .edit_details{
   width: 100%; 
  }
  .put_details{width:65%;}
  .edit_details{width:95%;}
  .put_details, .edit_details{
    text-align: center;
    form{
      .inputs{
        .title-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
            /*#publication_title_input, #compra_venta_publication_title_input, #vehiculos_publication_title_input, #inmuebles_publication_title_input, #cursos_talleres_publication_title_input, #servicios_publication_title_input, #viajes_turismo_publication_title_input{*/
              #publication_title_input, .publication_title_input{
              overflow: hidden;
              label{float: left; width: 25%;}
              .controls{
                float: left; text-align: left; width: 75%;
                input{width: 97%;}
              }
            }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }

        .price-and-currency{
          overflow: hidden;
          .left{
            width: 83%; float: left;
            label{float: left; width: 25%}
            /*#publication_currency_input, #compra_venta_publication_currency_input, #vehiculos_publication_currency_input, #inmuebles_publication_currency_input, #cursos_talleres_publication_currency_input, #servicios_publication_currency_input, #viajes_turismo_publication_currency_input, #empleos_publication_currency_input{*/
              #publication_currency_input, .publication_currency_input{
              width: 17%; float: left;
              .controls{
                float: left; text-align: left;
                select{width: 100%;}
              }
            }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }

          /*#publication_price_input, #compra_venta_publication_price_input, #vehiculos_publication_price_input, #inmuebles_publication_price_input, #cursos_talleres_publication_price_input, #servicios_publication_price_input, #viajes_turismo_publication_price_input, #empleos_publication_price_input{*/
          #publication_price_input, .publication_price_input{
            float: left;
            .controls{
              input{width: 92%;}
            }
          }
        }

        /*#publication_phone_input, #compra_venta_publication_phone_input, #vehiculos_publication_phone_input, #inmuebles_publication_phone_input, #cursos_talleres_publication_phone_input, #servicios_publication_phone_input, #viajes_turismo_publication_phone_input, #empleos_publication_phone_input{*/
        .phone-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;        

            #publication_phone_input, .publication_phone_input{
              overflow: hidden;
              label{float: left; width: 25%;}
              .controls{
                float: left; width: 60%; text-align: left;
                input {width: 100%;}
                width: 45%;
              }
            }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }          

        /*#publication_email_input, #compra_venta_publication_email_input, #vehiculos_publication_email_input, #inmuebles_publication_email_input, #cursos_talleres_publication_email_input, #servicios_publication_email_input, #viajes_turismo_publication_email_input, #empleos_publication_email_input{*/
        .email-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;

              #publication_email_input, .publication_email_input{
               overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; width: 60%; text-align: left;
                  input {width: 100%;}
                  width: 45%;
                } 
              }
            }
            .right{
              float:left; float: left; text-align: center; width: 17%;
              img{width: 29px;}
            }
          }

        .urgent{
          overflow: hidden;
          label{float: left; width: 25%;} 
          /*#publication_urgent_input, #compra_venta_publication_urgent_input, #vehiculos_publication_urgent_input, #inmuebles_publication_urgent_input, #cursos_talleres_publication_urgent_input, #servicios_publication_urgent_input, #viajes_turismo_publication_urgent_input, #empleos_publication_urgent_input{*/
          #publication_urgent_input, .publication_urgent_input{
            float: left;
            label.control-label{display: none;}
          }
        }
        
        

        /*#publication_i_am_input, #compra_venta_publication_i_am_input, #vehiculos_publication_i_am_input, #inmuebles_publication_i_am_input, #cursos_talleres_publication_i_am_input, #servicios_publication_i_am_input, #viajes_turismo_publication_i_am_input, #empleos_publication_i_am_input{*/
                
        #publication_i_am_input, .publication_i_am_input{
          overflow: hidden;
          label{float: left; width: 21%;}
          .controls{
            float: left; text-align: left; 
            select{width: 100%;}
          }          
        }
        .description-rich{
          overflow: hidden;
          .left{
            width: 83%; float: left;
            label{float: left; width: 25%;}

            /*#publication_description_input, #compra_venta_publication_description_input, #vehiculos_publication_description_input, #inmuebles_publication_description_input, #cursos_talleres_publication_description_input, #servicios_publication_description_input, #viajes_turismo_publication_description_input, #empleos_publication_description_input{*/
            #publication_description_input, .publication_description_input{
              float: left;                  
              list-style: none outside none;
              margin-bottom: 2%;
              overflow: hidden;
              width: 74%;
              .controls{
                .wysihtml5-sandbox{width: 97% !important; height: 225px !important;} /* no esta funcionando*/
              }
            }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }          

        }

        .sub-subcategory-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
              #publication_sub_sub_category_id_input, .publication_sub_sub_category_id_input{
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; text-align: left; 
                  select{width: 100%;}
                }    
              }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }

        .brand-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
            .manual-brand{
              margin-left: 25%; text-align: left; width: 83%;
              input.complete-manual-brand{width: 54%;}
            }
            .complete-manual-brand{display: none;}
              #publication_brand_input, .publication_brand_input{
                margin-bottom: 0;
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; text-align: left; 
                  select{width: 100%;}
                }    
              }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }

        .model-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
              #publication_model_input, .publication_model_input{
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; width: 60%; text-align: left;
                  input {width: 100%;}
                  width: 45%;
                }
              }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }

        .year-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
              #publication_year_input, .publication_year_input{
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; text-align: left; 
                  select{width: 100%;}
                }    
              }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }

        .km-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
              #publication_km_input, .publication_km_input{
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; width: 60%; text-align: left;
                  input {width: 100%;}
                  width: 45%;
                }
              }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }      

        .fuel-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
              #publication_fuel_input, .publication_fuel_input{
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; text-align: left; 
                  select{width: 100%;}
                }    
              }
            }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        } 
        /*#publication_condition_input, #compra_venta_publication_condition_input, #vehiculos_publication_condition_input, #inmuebles_publication_condition_input, #cursos_talleres_publication_condition_input, #servicios_publication_condition_input, #viajes_turismo_publication_condition_input, #empleos_publication_condition_input{*/
        .condition-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
            label{float: left; width: 25%;}
              #publication_condition_input, .publication_condition_input{
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; width: 60%; text-align: left;
                  label{margin-left: 6%; padding: 0;}
                  input {width: 100%;}
                  width: 45%;
               }
             }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }             
        }

        .color-row{
          overflow: hidden;
          .left{
            width: 83%; float: left;
              #publication_color_input, .publication_color_input{
                overflow: hidden;
                label{float: left; width: 25%;}
                .controls{
                  float: left; width: 60%; text-align: left;
                  input {width: 100%;}
                  width: 45%;
                }
              }
          }
          .right{
            float:left; float: left; text-align: center; width: 17%;
            img{width: 29px;}
          }
        }           
      }
    }
  }




  form#new_publication{
    select#publication_city_id{font-size: 20px; height: 40px; width: 314px; text-align: center;}
    
  }

  
  .select_category{text-align: center; width: 65%;}
  .steps{
    height: 68px;
    margin-bottom: 3%;
    margin-left: 8%;
    overflow: hidden;
    padding-left: 1%;
    text-align: center;
    .one-step{float: left; width: 30%; border: 1px solid #E5E3E3; height: 57px;}
    .one-step.first{border-radius: 25px 0 0 25px;}
    .one-step.second{
      p {font-size: 22px; font-weight: bold; margin-top: 5%;}
    }
    .one-step.last{border-radius: 0px 25px 25px 0px;}
    .previous-step{background-color: #449945; border: 1px solid #E5E3E3;}
    .one-step.current-step{background-color: #449945; border: 1px solid; box-shadow: 0 3px 7px #888888;}
  }

}
