// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear {clear: both;}

.header{
  overflow: hidden;
  .logo{
    float: left;
    width: 100%;
  }
  .user-links{
    float: right;
  }
  .span9{
    height: 60px;
    margin-top: 60px;
    .row.well{
      height: 55px;
      margin: 0;
      padding: 6px;      
      .span6{
        margin: 0;
        .search{
          overflow: hidden;
          form {overflow: hidden;}
          .search-submit{
            float: right; 
            font-size: 24px; 
            height: 55px;
          }
          .inputs{
            float: left; 
            width: 80%;
            .controls{
              input {font-size: 20px; height: 45px; width: 100%;}
            }
          }
        }
      }
      .span3{margin: 0 0 0 15px;}
    }
  }
  .free-publication-btn{
    font-size: 19px;
    height: 43px;
    width: 90%;
  }
}

.content{
  .cities{
    h2 {text-align: center;}
    .main-cities{
      .row{width: 100%;}
      ul {
        margin-left: 10%;
        text-align: center;
        li {width: 170px;}
      }
    }
    .modal.all-cities-index{
      margin-left: -30%; width: 805px;
    }

  }
  .all-cities-modal{
    float: left;
    width: 180px;      
  }

  .modal-body{

  }

  .categories{
    
    .category-title-index{
      /*background-color: #EEE331;*/
      border: 1px solid #CECEC8;
      border-radius: 20px 20px 0 0;
      text-align: center;
      
      h2 {margin: 0; font-weight: bold;}
    }
    .category-title-index.compra_venta{ background-color: #FCF267;}
    .category-title-index.inmuebles{ background-color: #995D40;}
    .category-title-index.vehiculos_y_accesorios{ background-color: #336799;}
    .category-title-index.empleo{ background-color: #249646;}
    .category-title-index.viajes_y_turismo{ background-color: blue;}
    .category-title-index.cursos_y_talleres{ background-color: green;}
    .category-title-index.servicios{ background-color: orange;}
  }


}