@import "mixins";

.clear {clear: both;}

.header{
  overflow: hidden;
  .logo{
    float: left;
    width: 100%;
  }
  .user-links{
    float: right;
  }
  .span9{
    height: 60px;
    margin-top: 4%;
    .row.well{
      height: 55px;
      margin: 0;
      padding: 6px;      
      .span6{
        margin: 0;
        .search{
          overflow: hidden;
          form {overflow: hidden;}
          .search-submit{
            float: right; 
            font-size: 24px; 
            height: 55px;
          }
          .inputs{
            float: left; 
            width: 80%;
            .controls{
              input {font-size: 20px; height: 45px; width: 100%;}
            }
          }
        }
      }
      .span3{margin: 0 0 0 15px;}
    }
  }
  .span9.breadc{margin-top: 0;}
  .results-for-keyword{
    font-size: 19px;
    margin-bottom: 1%;
    margin-left: 26%;
    span {font-weight: bold;}
  }
  .free-publication-btn{
    font-size: 19px;
    height: 44px;
    width: 90%;
  }
}

.content{
  .cities{
    h2 {text-align: center; font-family: 'Crafty Girls', cursive; margin-bottom: 3%;}
    .main-cities{
      .row{width: 100%;}
      .row.more-cities-index-link{
        ul{
          border: 1px solid white;
          border-radius: 9px 9px 9px 9px;
          margin: 0 auto 0 4%;
          width: 100%;
          li{width: 100%;}
        }
      }
      ul {
        margin-left: 10%;
        text-align: center;
        li {width: 170px;}
      }
    }
    

  }
  .last-publications{
    margin-top: 11%;
    p.lbl{font-weight: bold; text-align: center; margin-bottom: 0;}
    .navs-slider{
     height: 25px;
    overflow: hidden;
    position: relative;
    top: 123px;
    width: 100%;
      a#nav-slider-left-prev{ float: left; }
      a#nav-slider-left-next{ float: right; }
      img.prev, img.next{width: 10px;}
    }
    #slider-left{
      width: 230px;
      margin: auto;
      ul.thumbnails{
        width: 100%;
        margin-left: 0;
        li{
          margin: 0;
          .thumbnail{
            width: 96%;
            p.city{border-bottom: 1px solid #E5E3E3; margin: 0; padding-bottom: 1%; text-align: center; font-weight: bold; font-size: 17px;}
            p{text-align: center; font-weight: bold;}
            p.price{font-size: 20px; color:grey;}
            .navs{
              margin: 1% auto auto;
              overflow: hidden;
              a.image{
                img{border: 1px solid; width: 99%;}
              }
            }
          }
        }
      }
    }
  }
  .how-to-publicate{
    margin-top: 5%;
    ul{
      list-style: none;
      li p{font-size: 15px; font-weight: bold;}
    }
  }
  .how-to-buy{
    margin-top: 15%;
    ul{
      list-style: none;
      li p{font-size: 15px; font-weight: bold;}
    }
  }

  .show-one-publication{
    @include borders-show-one-publication;
    margin: auto;
    overflow: hidden;
    width: 80%;
    .title{
      @include border-btm-show-one-publication;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 1%;
      padding-top: 1%;
      text-align: center;
    }
    .left{
      @include border-right-show-one-publication; float: left; width: 70%;
      .images{
        .current{
          @include borders-show-one-publication; margin: 2%;
          img {width: 200px;}
        }
        .others{
          @include borders-show-one-publication;
          height: 60px;
          margin: auto;
          width: 80%;
          img{margin: 2px; width: 44px;}
        }
      }
      .description{
        @include borders-show-one-publication; margin: 2%;
      }
      .contact-seller{
        
      }
    }
    .right{
      float: left;
      padding-left: 3%;
      width: 26%;
    }
  }

  .modal.all-cities-index, .modal.all-cities-left-column{
      margin-left: -30%; width: 805px;
  }

  /*.all-cities-modal{
    float: left;
    width: 180px;    
  }*/

  .modal-body{

  }

  .categories{
    
    .category-title-index{
      /*background-color: #EEE331;*/
      border: 1px solid #CECEC8;
      border-radius: 20px 20px 0 0;
      text-align: center;
      
      h2 {margin: 0; font-weight: bold;}
    }
    .category-title-index{
      h2{
        small{color:white; font-weight: bold;}
      }
    }
    .category-title-index.compra_venta{ background-color: #FCF267;}
    .category-title-index.inmuebles{ background-color: #995D40;}
    .category-title-index.vehiculos_y_accesorios{ background-color: #7FE87F;}
    .category-title-index.empleo{ background-color: #FF7C83;}
    .category-title-index.viajes_y_turismo{ background-color: #336799;}
    .category-title-index.cursos_y_talleres{ background-color: #C57EFE;}
    .category-title-index.servicios{ background-color: #FFD651;}
  }

  .left-column{
    ul.main-cities{
      list-style: none;
    }
  }

  .contact{
    text-align: center;
    form{
      .field{
        textarea{height: 120px; width: 55%;}
      }
      .actions{

      }
    }
  }

}

.alert{width: 70%; float: right;}

.sign-up{
  h2{margin-bottom: 7%; text-align: center;}
  label{float: left; width: 35%;}
  .span5{border-right: 1px solid #E5E3E3;}
  .span3{margin-left: 7%; margin-top: 15%;}
}

.sign-in{
  h2{margin-bottom: 7%; text-align: center;}
  label{float: left; width: 35%;}
  .span5{border-right: 1px solid #E5E3E3;}
  .span3{margin-left: 7%; margin-top: 15%;}
}
footer{
  background-color: #3C3C3B; height: 200px;
  .footer-content{
    color: white;
    margin: auto; padding-top: 7%; width: 50%;
    a{color: white;}
  }
}

