.required-field{
  color: #C94028;
  input, iframe{border: 1px solid #C94028;}
}
.border-rich{
  border: 1px solid #C94028;
  border-radius: 4px;
}
.ok-field-title, .ok-field-price-currency, .ok-field-email, .ok-field-description, .ok-field-condition, .ok-field-i_am, .ok-field-urgent, .ok-field-model, .ok-field-year, .ok-field-fuel, .ok-field-brand, .ok-field-sub-subcategory{
  display: none;
}
.wrong-field-title, .wrong-field-price-currency, .wrong-field-email, .wrong-field-email-format, .wrong-field-description, .wrong-field-condition, .wrong-field-i_am, .wrong-field-urgent, .wrong-field-model, .wrong-field-brand, .wrong-field-sub-subcategory{
  display: none;
}
.not-all-fields-completed{
  display: none;
  color: #C94028;
}
