<div class="row">
  
  <div class="span4">
    <div class="logo">
      <%= link_to (image_tag "logo1.jpg"), root_path %>
    </div>
  </div>

  <div class="span8">
    <div class="row">
      <div class="user-links">
        <%= render :partial => "shared/header_user_links" %>
      </div>
    </div>
  </div>


</div>  